<h1 style='color:#123456'>Pandas in Python</h1>
<img src='panda.png' width='300',height='300' style='float:right'>
<h2 style='color:#abcdef'>Pandas is a datascience tool to process and maniplute data</h2>
<h3 style='color:#cccccc'>There are two type of data set's in pandas</h3>
<ol>
<li style='color:red'>Series -> 1D data</li>
<li style='color:red'>Data Frame -> 2D data</li>
<ol>

<h1 style='color:#123456'>Series Data Set</h1>

In [1]:
import pandas as pd #importing pandas module for data preprocessing
import numpy as np #importing numpy module for array processing
s = pd.Series([1,3,5,np.nan,6,8]) #np.nan stands for missing values
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

<h1 style='color:#123456'>Data-Frame Data Set</h1>

In [2]:
dates = pd.date_range('20181206',periods=10) #dates in pandas
dates

DatetimeIndex(['2018-12-06', '2018-12-07', '2018-12-08', '2018-12-09',
               '2018-12-10', '2018-12-11', '2018-12-12', '2018-12-13',
               '2018-12-14', '2018-12-15'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(10,4),index=dates,columns=list('ABCD'))
df #dataframe with index as dates and columns as A B C D

                   A         B         C         D
2018-12-06  0.668889 -0.421579  0.059944  0.400530
2018-12-07 -0.047580  1.032993 -0.670597 -0.180393
2018-12-08 -0.927819  0.427363  1.019127  2.116926
2018-12-09  0.851812  0.955029  1.986306 -0.176174
2018-12-10  1.030379 -0.523064  2.715993  0.150278
2018-12-11 -0.242457  0.438149 -1.452677 -1.775866
2018-12-12  0.181552 -0.295866 -1.834751 -1.015848
2018-12-13  0.769561 -2.348220  0.739749  0.116552
2018-12-14 -1.322954 -1.258094  0.051060 -1.305727
2018-12-15  0.088457 -0.591845 -1.003007 -0.239102

In [4]:
df2 = pd.DataFrame({
    'A':1,
    'B':pd.Timestamp('20180715'),
    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
    'D':np.array([3]*4,dtype='int32'),
    'E':pd.Categorical(["test","train","test",'train']),
    'F':'foo' ,
})
df2

   A          B    C  D      E    F
0  1 2018-07-15  1.0  3   test  foo
1  1 2018-07-15  1.0  3  train  foo
2  1 2018-07-15  1.0  3   test  foo
3  1 2018-07-15  1.0  3  train  foo

In [5]:
#All the columns resulting DataFrames have different data-types let's check it out
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

<p style='color:#887812'>Tab completion for column names (as well as public attributes) is automatically enabled.
Here’s a subset of the attributes that will be completed: df2.A or df2.</p>
<img src='dftab.png' height='150',width='500' style='float:center'>

<h1 style='color:#123456'>Viewing Data</h1><br /><br />

In [6]:
#top and bottom of the data set
df.head()

                   A         B         C         D
2018-12-06  0.668889 -0.421579  0.059944  0.400530
2018-12-07 -0.047580  1.032993 -0.670597 -0.180393
2018-12-08 -0.927819  0.427363  1.019127  2.116926
2018-12-09  0.851812  0.955029  1.986306 -0.176174
2018-12-10  1.030379 -0.523064  2.715993  0.150278

In [7]:
df.tail(3)

                   A         B         C         D
2018-12-13  0.769561 -2.348220  0.739749  0.116552
2018-12-14 -1.322954 -1.258094  0.051060 -1.305727
2018-12-15  0.088457 -0.591845 -1.003007 -0.239102

<h3 style='color:#345678'>Display the index, columns, and the underlying NumPy data</h3>

In [8]:
df.index

DatetimeIndex(['2018-12-06', '2018-12-07', '2018-12-08', '2018-12-09',
               '2018-12-10', '2018-12-11', '2018-12-12', '2018-12-13',
               '2018-12-14', '2018-12-15'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

<h3 style='color:#345678'>describe() shows a quick statistic summary of your data:</h3>

In [10]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.104984  -0.258513   0.161115  -0.190883
std     0.776715   1.036638   1.475233   1.071081
min    -1.322954  -2.348220  -1.834751  -1.775866
25%    -0.193738  -0.574650  -0.919904  -0.821661
50%     0.135005  -0.358722   0.055502  -0.178283
75%     0.744393   0.435453   0.949283   0.141846
max     1.030379   1.032993   2.715993   2.116926

<h3 style='color:#56789a'>Transposing your data:</h3>

In [11]:
df.T

,2018-12-06 00:00:00,2018-12-07 00:00:00,2018-12-08 00:00:00,2018-12-09 00:00:00,2018-12-10 00:00:00,2018-12-11 00:00:00,2018-12-12 00:00:00,2018-12-13 00:00:00,2018-12-14 00:00:00,2018-12-15 00:00:00
A,0.668889,-0.047580,-0.927819,0.851812,1.030379,-0.242457,0.181552,0.769561,-1.322954,0.088457
B,-0.421579,1.032993,0.427363,0.955029,-0.523064,0.438149,-0.295866,-2.348220,-1.258094,-0.591845
C,0.059944,-0.670597,1.019127,1.986306,2.715993,-1.452677,-1.834751,0.739749,0.051060,-1.003007
D,0.400530,-0.180393,2.116926,-0.176174,0.150278,-1.775866,-1.015848,0.116552,-1.305727,-0.239102

<h3 style='color:#56789a'>Sorting by an axis:</h3>

In [12]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2018-12-15  0.088457 -0.591845 -1.003007 -0.239102
2018-12-14 -1.322954 -1.258094  0.051060 -1.305727
2018-12-13  0.769561 -2.348220  0.739749  0.116552
2018-12-12  0.181552 -0.295866 -1.834751 -1.015848
2018-12-11 -0.242457  0.438149 -1.452677 -1.775866
2018-12-10  1.030379 -0.523064  2.715993  0.150278
2018-12-09  0.851812  0.955029  1.986306 -0.176174
2018-12-08 -0.927819  0.427363  1.019127  2.116926
2018-12-07 -0.047580  1.032993 -0.670597 -0.180393
2018-12-06  0.668889 -0.421579  0.059944  0.400530

<h3 style='color:#56789a'>Sorting by an values:</h3>

In [13]:
df.sort_values(by='A',ascending=False)

                   A         B         C         D
2018-12-10  1.030379 -0.523064  2.715993  0.150278
2018-12-09  0.851812  0.955029  1.986306 -0.176174
2018-12-13  0.769561 -2.348220  0.739749  0.116552
2018-12-06  0.668889 -0.421579  0.059944  0.400530
2018-12-12  0.181552 -0.295866 -1.834751 -1.015848
2018-12-15  0.088457 -0.591845 -1.003007 -0.239102
2018-12-07 -0.047580  1.032993 -0.670597 -0.180393
2018-12-11 -0.242457  0.438149 -1.452677 -1.775866
2018-12-08 -0.927819  0.427363  1.019127  2.116926
2018-12-14 -1.322954 -1.258094  0.051060 -1.305727

<h1 style='color:#775588'>Selection</h1>
<br/>
<p style='color:red'>Note: While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for
interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc
and .iloc.</p>
<p>See the indexing documentation Indexing and Selecting Data and MultiIndex / Advanced Indexing</p>
<br />

<h3 style='color:#123456'>Selecting a single column, which yields a Series, equivalent to df.A:</h3>

In [14]:
df['C']

2018-12-06    0.059944
2018-12-07   -0.670597
2018-12-08    1.019127
2018-12-09    1.986306
2018-12-10    2.715993
2018-12-11   -1.452677
2018-12-12   -1.834751
2018-12-13    0.739749
2018-12-14    0.051060
2018-12-15   -1.003007
Freq: D, Name: C, dtype: float64

<h3 style='color:#123456'>Selecting via [], which slices the rows.</h3>

In [15]:
df[1:4]

                   A         B         C         D
2018-12-07 -0.047580  1.032993 -0.670597 -0.180393
2018-12-08 -0.927819  0.427363  1.019127  2.116926
2018-12-09  0.851812  0.955029  1.986306 -0.176174

In [16]:
df['20180703':'20180705']

Empty DataFrame
Columns: [A, B, C, D]
Index: []

<h3 style='color:#123456'>Selection by Label<h3>

In [17]:
#For getting a cross section using a label:
df.loc[dates[1]]

A   -0.047580
B    1.032993
C   -0.670597
D   -0.180393
Name: 2018-12-07 00:00:00, dtype: float64

In [18]:
#Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2018-12-06  0.668889 -0.421579
2018-12-07 -0.047580  1.032993
2018-12-08 -0.927819  0.427363
2018-12-09  0.851812  0.955029
2018-12-10  1.030379 -0.523064
2018-12-11 -0.242457  0.438149
2018-12-12  0.181552 -0.295866
2018-12-13  0.769561 -2.348220
2018-12-14 -1.322954 -1.258094
2018-12-15  0.088457 -0.591845

In [21]:
#Showing label slicing, both endpoints are included:
df.loc['20180703':'20180705',['A','B']]

Empty DataFrame
Columns: [A, B]
Index: []

In [20]:
#Reduction in the dimensions of the returned object:
df.loc['20180705',['A','B']]

KeyError: 'the label [20180705] is not in the [index]'

In [ ]:
#For getting a scalar value:
df.loc[dates[0],'A']

In [ ]:
#For getting fast access to a scalar (equivalent to the prior method)
df.at[dates[0],'A']

<h3 style='color:#123456'>Selection by Position</h3>

In [ ]:
#Select via the position of the passed integers:
df.iloc[3]

In [ ]:
#By integer slices, acting similar to numpy/python:
df.iloc[3:6,2:4]

In [ ]:
#By lists of integer position locations, similar to the numpy/python style:
df.iloc[[1,2,4],[0,2]]

In [ ]:
#For slicing rows explicitly:
df.iloc[1:3,:]

In [ ]:
#For slicing columns explicitly:
df.iloc[:,[0,2,3]]

In [ ]:
#For getting a value explicitly:
df.iloc[2,2]

In [ ]:
#For getting fast access to a scalar (equivalent to the prior method):
df.iat[2,2]

<h3 style='color:#123456'>Boolean Indexing<h3>

In [ ]:
#Using a single column’s values to select data.
df[df.A > 0]

In [ ]:
#Selecting values from a DataFrame where a boolean condition is met.
df[df>0]

In [ ]:
#Using the isin() method for filtering:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

In [ ]:
df2[df2['E'].isin(['two','four'])]

<h3 style='color:#123456'>Setting</h3>

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20180702', periods=6))
s1

<h3 style='color:#123456'>Setting values by label:</h3>

In [ ]:
df['F'] = s1
df

In [ ]:
#setting value by label
df.at[dates[0],'A'] = 0
df

In [ ]:
#etting values by position:
df.iat[0,1] = 0
df

In [ ]:
#Setting by assigning with a NumPy array:
df.loc[:,'D'] = np.array([5] * len(df))
df

In [ ]:
#A where operation with setting.
df2 = df.copy()
df2[df2 > 0] = -df2
df2

<h2 style='color:#123456'>Missing Data</h2>

<p style='color:#bb1199;font:x-large'>pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See
the Missing Data section.
Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.<p>

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

In [ ]:
#To drop any rows that have missing data.
df1.dropna(how='any')

In [ ]:
#Filling missing data.
print(df1)
df1.fillna(value=5.0)

In [ ]:
pd.isna(df1)

<div>
<h1 style='color:#123456'>Operations</h1>
<h2 style='color:#123456'>Stats</h2>
</div>

In [ ]:
#Operations in general exclude missing data.
#Performing a descriptive statistic:
df.mean()

In [ ]:
#Same operation on the other axis:
df.mean(1)

<p style='color:gray'>Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically
broadcasts along the specified dimension.</p>

In [23]:
s = pd.Series([1,3,5,np.nan,6,8], index=pd.date_range('20181212',periods=6)).shift(2)
s

2018-12-12    NaN
2018-12-13    NaN
2018-12-14    1.0
2018-12-15    3.0
2018-12-16    5.0
2018-12-17    NaN
Freq: D, dtype: float64

In [24]:
df.sub(s, axis='index')

                   A         B         C         D
2018-12-06       NaN       NaN       NaN       NaN
2018-12-07       NaN       NaN       NaN       NaN
2018-12-08       NaN       NaN       NaN       NaN
2018-12-09       NaN       NaN       NaN       NaN
2018-12-10       NaN       NaN       NaN       NaN
2018-12-11       NaN       NaN       NaN       NaN
2018-12-12       NaN       NaN       NaN       NaN
2018-12-13       NaN       NaN       NaN       NaN
2018-12-14 -2.322954 -2.258094 -0.948940 -2.305727
2018-12-15 -2.911543 -3.591845 -4.003007 -3.239102
2018-12-16       NaN       NaN       NaN       NaN
2018-12-17       NaN       NaN       NaN       NaN

<h1 style='color:#123456'>Apply</h1>
<p style='color:#654321'>Applying functions to the data:</p>

In [ ]:
#print(df)
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

<h1 style='color:#567899'>Histogramming</h1>

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

In [ ]:
s.hist()

<h1 style='color:#567899'>String Method</h1>

<p style='color:#333333'>Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each
element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions
by default (and in some cases always uses them). See more at Vectorized String Methods.</p>

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

<h1 style='color:#456789'>Merge</h1>

<h2 style='color:#678912'>Concat</h2>
<p style='color:#789a23'>pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various
kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.
Concatenating pandas objects together with concat():</p>

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [ df[:3],df[3:7],df[7:]]
pieces

In [ ]:
pd.concat(pieces)

<h1 style='color:#678978'>Join</h1>

In [2]:
import pandas as pd
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [3]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [4]:
pd.merge(left,right,on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right,on='key')

<h1 style='color:#678978'>Append</h1>

In [6]:
import numpy as np 
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0  0.815362  1.068443 -1.345772 -0.370654
1  0.519222  1.615144 -0.083959  1.042791
2 -1.335029 -0.975321  0.576216  0.049705
3 -0.436166  0.537460  0.155547  0.579693
4 -0.622863 -0.364086  0.514296  0.887621
5 -0.415494  1.260303  0.716728 -0.830327
6  0.337464 -0.230434 -0.616412  0.597432
7  2.024396 -0.205170  0.162600 -0.250307

In [7]:
s = df.iloc[3]
s

A   -0.436166
B    0.537460
C    0.155547
D    0.579693
Name: 3, dtype: float64

In [8]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.815362  1.068443 -1.345772 -0.370654
1  0.519222  1.615144 -0.083959  1.042791
2 -1.335029 -0.975321  0.576216  0.049705
3 -0.436166  0.537460  0.155547  0.579693
4 -0.622863 -0.364086  0.514296  0.887621
5 -0.415494  1.260303  0.716728 -0.830327
6  0.337464 -0.230434 -0.616412  0.597432
7  2.024396 -0.205170  0.162600 -0.250307
8 -0.436166  0.537460  0.155547  0.579693

<h1 style='color:#678978'>Grouping</h1>

<p style='color:#123456'>By “group by” we are referring to a process involving one or more of the following steps:</p>
<ul style='color:#444444'>
<li> Splitting the data into groups based on some criteria</li>
<li> Applying a function to each group independently</li>
<li> Combining the results into a data structure</li>
</ul>

In [9]:
df = pd.DataFrame({
    'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
    'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'C' : np.random.randn(8),
    'D' : np.random.randn(8)  })
df

     A      B         C         D
0  foo    one  0.593081 -1.326509
1  bar    one  0.029832  0.317940
2  foo    two  0.431626 -1.441151
3  bar  three -0.047934 -0.650659
4  foo    two -0.902216 -0.559975
5  bar    two  0.354914 -1.277187
6  foo    one  0.095463 -0.823724
7  foo  three  0.072948 -0.047581

In [10]:
#Grouping and then applying the sum() function to the resulting groups.
df.groupby('A').sum()

            C         D
A
bar  0.336812 -1.609906
foo  0.290902 -4.198940

In [11]:
#Grouping by multiple columns forms a hierarchical index, and again we can apply the sum function.
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.029832  0.317940
    three -0.047934 -0.650659
    two    0.354914 -1.277187
foo one    0.688544 -2.150233
    three  0.072948 -0.047581
    two   -0.470591 -2.001126

<h1 style='color:#123456'>Reshaping</h1>
<h3 style='color:#123456'>Stack</h3>

In [12]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz','foo', 'foo', 'qux', 'qux'], ['one', 'two', 'one', 'two','one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [13]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [14]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

                     A         B
first second
bar   one    -1.166356  1.126770
      two     1.139993 -0.719106
baz   one    -1.315085  0.450051
      two     0.410740 -1.401301
foo   one    -0.687673 -0.172293
      two    -0.868962 -0.653394
qux   one    -0.668480 -1.573138
      two     0.434808 -1.198563

In [15]:
df2 = df[:4]
df2

                     A         B
first second
bar   one    -1.166356  1.126770
      two     1.139993 -0.719106
baz   one    -1.315085  0.450051
      two     0.410740 -1.401301

In [ ]:
#The stack() method “compresses” a level in the DataFrame’s columns.
stacked = df2.stack()
stacked

In [ ]:
#With a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is
#unstack(), which by default unstacks the last level:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

<h1 style='color:#123123'>Pivot Tables</h1>

In [ ]:
df = pd.DataFrame({
     'A' : ['one', 'one', 'two', 'three'] * 3,
     'B' : ['A', 'B', 'C'] * 4,
     'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
     'D' : np.random.randn(12),
     'E' : np.random.randn(12) 
                })
df

In [ ]:
#We can produce pivot tables from this data very easily:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

<h1 style='color:#123321'>Time Series</h1>

<p style='color:#321456'>pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial
applications. See the Time Series section.</p>

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

In [ ]:
#Time zone representation:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

In [ ]:
ts_utc.tz_convert('US/Eastern')

In [ ]:
#Converting between time span representations:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ps = ts.to_period()
ps

In [ ]:
ps.to_timestamp()

<p style='color:#123456'>Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following
example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following
the quarter end:</p>

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

<h1 style='color:#123456'>Categoricals</h1>

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a','e']})

In [ ]:
#Convert the raw grades to a categorical data type
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df['grade']

In [ ]:
#Reorder the categories and simultaneously add the missing categories (methods under Series 
#.cat return a newSeries by default)
df.sort_values(by="grade")

In [ ]:
#grouping data according to grade
df.groupby("grade").size()

<h1 style='color:#123456'>Plotting</h1>

In [ ]:
%matplotlib inline
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000',periods=1000))
ts = ts.cumsum()
ts.plot()

In [ ]:
data = pd.DataFrame(np.random.normal(65.0,25.0,100).reshape(50,2))

In [ ]:
data.head()

In [ ]:
data.plot()

In [ ]:
from matplotlib import pyplot as plt
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure();df.plot();plt.legend(loc='best')

<h1 style='color:#995566'>Getting Data In/Out</h1>
<h2 style='color:#993377'>CSV</h2>

In [ ]:
df.to_csv('foo.csv')

In [ ]:
pd.read_csv('foo.csv').head()

<h2 style='color:#993377'>HDF5</h2>

In [ ]:
df.to_hdf('foo.h5','df')

In [ ]:
pd.read_hdf('foo.h5','df').head()

<h2 style='color:#993377'>Excel</h2>

In [ ]:
df.to_excel('foo.xlsx',sheet_name='Sheet1')

In [ ]:
pd.read_excel('foo.xlsx','Sheet1',index_col=None,na_values=['NA']).head()

<h1 style='color:#123456'>Gotchas</h1>

In [ ]:
if pd.Series([False,True,False]):#.any() :
    print("I was True ")
else :
    print("I was Wrong")
#chapter 6 519